body{
	margin: 0;
	font-family: Arial, sans-serif;
	background-size: cover;
	position: relative;
  }

  body.index-bg {
	background-image: url('../images/background.png');
  }

 	body.index-bg::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Filtre de luminosité appliqué */
  z-index: -1;
	}

  body.mods-bg {
	background-image: url('../images/background_mods.png');
  }

  body.mods-bg::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Filtre de luminosité appliqué */
  z-index: -1;
	}

  body.installation-bg {
	background-image: url('../images/background_installation.png');
  }

  body.installation-bg::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Filtre de luminosité appliqué */
  z-index: -1;
	}

  body.don-bg {
	background-image: url('../images/background_donation.png');
  }

  body.don-bg::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Filtre de luminosité appliqué */
  z-index: -1;
	}
  
  .container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
  }
  
  header {
	text-align: center;
	margin-bottom: 30px;
  }
  
  h1 {
	font-size: 70px;
	color: #fff;
  }
  
  h2 {
	font-size: 40px;
	color: #fff;
  }

  h3 {
	font-size: 25px;
	color: #fff;
  }

  .ip {
	font-size: 25px;
	font-weight: bold;
	color: #fff;
  }
  
  p {
	font-size: 20px;
	color: #fff;
  }
  
  .blue-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #7289DA;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
  }
  
  .blue-button:hover {
	background-color: #5e6a91;
  }
  
  ul {
	list-style: none;
	padding: 0;
  }
  
  li {
	color: #fff;
  }
  
  img {
	max-width: 100%;
	height: auto;
  }

  .navbar {
	background-color: #f2f2f2;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between; /* Pour aligner les éléments à l'extrême gauche et à l'extrême droite */
	color: #666; /* Couleur de texte gris */
	z-index: 2;
  }
  
  .logo {
	width: 50px;
	margin-right: 20px;
  }

  nav {
	flex: 1; /* Pour que le conteneur de navigation prenne tout l'espace disponible */
	display: flex;
	justify-content: flex-start; /* Pour aligner les liens à gauche */
  }
  
  nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  nav ul li {
	display: inline;
	margin-right: 20px;
  }
  
  nav ul li a {
	text-decoration: none;
	color: #666;
  }
  
  nav ul li a:hover {
	text-decoration: underline;
  }

  .ipb {
	margin-left: 20px; /* Ajoute de l'espace à droite de l'adresse IP */
	color: #555; /* Couleur de texte gris */
	font-weight: bold; /* Texte en gras */
  }
  
  .installation-guide {
	display: flex;
	justify-content: space-between;
  }
  
  .installation-guide-left,
  .installation-guide-right {
	width: 100%;
  }

  .installation-guide-left{
	margin-right: 25%;
  }
  
  .installation-guide img {
	max-width: 120%;
	height: auto;
  }

  .installation-guide-right {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alignement vertical du contenu */
}

.installation-guide-right h2,
.installation-guide-right p,
.installation-guide-right img {
  text-align: center; /* Alignement horizontal du texte */
  margin-bottom: 20px; /* Espacement entre les éléments */
}

.installation-guide-left {
	display: flex;
	flex-direction: column;
	align-items: center; /* Alignement vertical du contenu */
  }
  
  .installation-guide-left h2,
  .installation-guide-left p,
  .installation-guide-left img {
	text-align: center; 
	margin-bottom: 20px; 
  }

  .mods-list {
	display: flex;
	flex-wrap: wrap; /* Permet le retour à la ligne automatique */
	justify-content: space-between; /* Espacement entre les colonnes */
  }
  
  .mod-column {
	width: 23%; /* Largeur de chaque colonne */
	margin-bottom: 20px; /* Espacement entre les colonnes */
  }

  .prix {
	width: 50%; /* Largeur de chaque colonne */
	margin-bottom: 20px; /* Espacement entre les colonnes */
	justify-content: space-evenly;
	align-items: center;
	margin: auto; /* Important */
	text-align: center;
  }

  .rewards {
	width: 50%; /* Largeur de chaque colonne */
	margin-bottom: 20px; /* Espacement entre les colonnes */
	justify-content: space-evenly;
	align-items: center;
	margin: auto; /* Important */
    text-align: center;
  }
  
	.mod-column h2 {
		font-size: 30px; /* Taille du titre du mod */
	}

	.mod-column h3 {
		font-size: 20px; /* Taille du titre du mod */
	}

  .mod-column p {
	font-size: 16px; /* Taille du texte de description du mod */
  }

  .mod-bot p{
	font-size: 16px;
	display: flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
  